<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="..\output.css">
        <link rel="stylesheet" href="..\additional.css">
        <!-- Stylesheet for Grid.js -->
        <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-100">
        <nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">
        <div class="flex justify-between font-Poppins items-center ">
            <span class="text-2xl cursor-pointer">
                <img class="h-10 inline" src="..\assets\seriosmd_logo.png">
            </span>

            <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
            </span>
        </div>

        <ul class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-xl hover:text-blue-600 duration-500">ABOUT</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-xl hover:text-blue-600 duration-500">CONTACT</a>
            </li>

            <a href="../landing page/index.html" class="bg-smdp-500 text-white text-xl font-Poppins duration-500 px-6 py-2 mx-4 hover:bg-smdp-600 rounded font-bold">
                Exit
            </a>
        </ul>
    </nav>

    <div class="bg-gray-100 md:items-center md:justify-between">
        <nav class="p-6 flex items-center">
            <div class="flex justify-between font-Poppins items-center ml-16">
                <span class="text-2xl">
                    <h1 class="inline font-bold text-smdp-500 text-5xl"> Appointments </h1>
                </span>
            </div>

            <ul class="md:flex md:items-center z-[-1] md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
                <button onclick="showAddAppointmentModal()" class="bg-teal-500 text-white text-xl font-Poppins duration-500 px-6 py-2 mx-4 hover:bg-teal-600 rounded font-bold">
                    Create New
                </button>
            </ul>

            <!-- Search bars -->
            <div class="ml-auto">
                <input type="text" placeholder="Search by Apt. ID" class="px-4 mr-16 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-teal-500">
            </div>
            
        </nav>
    </div>

    <div class="p-14">
        <div id="apts-table" class="flex justify-center"></div>
    </div>

    <div class="flex justify-center">

        <!--Add Modal-->
        <div id="addAppointmentModal" class="fixed left-0 top-0 bg-black bg-opacity-50 w-screen h-screen justify-center items-center opacity-0 hidden transition-opacity duration-500">
            <div class="bg-white rounded shadow-md p-8 w-[40%]">
                <h2 class="text-2xl font-bold mb-4 text-smdp-500">Add new appointment</h2>
                <form id="appointments-form" method="POST" action="/add">
                    <div class="mb-4">
                        <label for="apptid" class="block text-sm font-semibold mb-2">Appointment ID</label>
                        <input type="text" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-teal-500" id="apptid" name="apptid">
                    </div>
                    <div class="mb-4">
                        <label for="virtual" class="block text-sm font-semibold mb-2">Virtual:</label>
                        <select id="virtual" name="virtual" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-teal-500" placeholder="True or False">
                            <option value="1">True</option>
                            <option value="0">False</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="region" class="block text-sm font-semibold mb-2">Region:</label>
                        <select id="region" name="region" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-teal-500" rows="4" placeholder="**turn into dropdown**">
                            <option value="1">Ilocos Region (I)</option>
                            <option value="2">Cagayan Valley (II)</option>
                            <option value="3">Central Luzon (III)</option>
                            <option value="4">CALABARZON (IV-A)</option>
                            <option value="5">MIMAROPA (IV-B)</option>
                            <option value="6">Bicol Region (V)</option>
                            <option value="7">Cordillera Administrative Region (CAR)</option>
                            <option value="8">National Capital Region (NCR)</option>
                            <option value="9">Western Visayas (VI)</option>
                            <option value="10">Central Visayas (VII)</option>
                            <option value="11">Eastern Visayas (VIII)</option>
                            <option value="12">Zamboanga Peninsula (IX)</option>
                            <option value="13">Northern Mindanao (X)</option>
                            <option value="14">Davao Region (XI)</option>
                            <option value="15">SOCCSKSARGEN (Cotabato Region) (XII)</option>
                            <option value="16">Caraga (XIII)</option>
                            <option value="17">Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="schedule" class="block text-sm font-semibold mb-2">Schedule</label>
                        <input type="date" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-teal-500" id="schedule" name="schedule">
                    </div>
                    <div class="flex justify-between">
                        <button onclick="hideAddAppointmentModal()" type="button" class="bg-gray-200 hover:bg-gray-300 text-smdp-500 font-bold py-2 px-4 rounded">Cancel</button>
                        <button type="submit" class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <!--Edit Modal-->
        <div id="editAppointmentModal" class="fixed left-0 top-0 bg-black bg-opacity-50 w-screen h-screen justify-center items-center opacity-0 hidden transition-opacity duration-500">
            <div class="bg-white rounded shadow-md p-8 w-[40%]">
                <h2 class="text-2xl font-bold mb-4 text-smdp-500">Edit appointment</h2>
                <form id="editAppointments" method="POST" action="#">
                    <div class="mb-4">
                        <label for="virtual" class="block text-sm font-semibold mb-2">Virtual:</label>
                        <select id="virtual" name="virtual" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-teal-500" placeholder="True or False">
                            <option value="1">True</option>
                            <option value="0">False</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="status" class="block text-sm font-semibold mb-2">Status:</label>
                        <select id="status" name="status" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-teal-500" placeholder="True or False">
                            <option value="Queued">Queued</option>
                            <option value="Serving">Serving</option>
                            <option value="Complete">Complete</option>
                            <option value="Skip">Skip</option>
                            <option value="Cancel">Cancel</option>
                            <option value="NoShow">NoShow</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="schedule" class="block text-sm font-semibold mb-2">Schedule</label>
                        <input id="schedule" type="date" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-teal-500" id="schedule" name="schedule">
                    </div>
                    <div class="flex justify-end"></div>
                        <button onclick="hideEditAppointmentModal()" type="button" class="bg-gray-200 hover:bg-gray-300 text-smdp-500 font-bold py-2 px-4 rounded">Cancel</button>
                        <button id="deleteButton" type="submit" class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Delete</button>
                        <button type="submit" class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- JavaScript at bottom of body so everything else loads first. -->
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="../js/transaction_editor.js"> </script>
</body>
</html>
