<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\output.css">
</head>
<body>
    <body class="bg-gray-100 flex justify-center items-center h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md text-center">
            <img src="..\assets\seriosmd_logo.png" alt="Image" class="mb-4 mx-auto" class="mb-4 mx-auto" style="width: 500px;">
            <h1 class="text-3xl mb-4">Transaction Management Application</h1>
            <div class="flex justify-center">
                <a href="..\transaction_editor\transaction_editor.html" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Begin</a>
            </div>
        </div>
    </body>
</body>
</html>
